extends layout

block content
    h1.text-center.login-title Code Entry 
    p Last step. Please enter the verification code sent to your email address.
    div.signup-wall
        form(class='form-code-entry', action='/code-entry', method='POST')
            div.form-group
                label Verification Code
                input(type='number', name='code', class='form-control', placeholder='',required)

            #message
                if message
                    p.text-center.error-message #{message}

            button(class='btn btn-lg btn-primary btn-block', type='submit') Submit 
            span.clearfix

    form(action='/resend-code' method='POST')
        button(class="btn btn-block btn-link", type="submit") Re-send Code
