extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title Duk Account
                    div.signup-wall
                        table.user-details
                            tbody
                                tr
                                    td Username: 
                                    td #{user.username}
                                tr
                                    td Member since:
                                    td #{moment(user.createdDate).format("MMMM Do YYYY")}
                    div.account-footer
                        a(href='#', class='text-center') Delete Account 
                        a(href='/signout', class='new-account') Sign Out
