extends layout

block content
    #user
        h1.text-center.login-title Duk Account
        #message
            if message
                p.text-center.error-message #{message}
        div.signup-wall.account-home
            div.table-wrap
                table.user-details
                    tbody
                        tr
                            td Username: 
                            td #{user.username}
                        tr
                            td Member since:
                            td #{moment(user.createdDate).format("MMMM Do YYYY")}

            div.account-footer
                div
                    a(href='/change-password', class='change-password') Change Password
                div
                    a(href='/delete-account', class='delete-account text-center') Delete Account
                div
                    a(href='/help', class='help-request text-center') Get Help 
                div
                    a(href='/signout', class='sign-out') Sign Out
