extends layout

block content
    h1.text-center.login-title Sign in to Duk 
    div.account-wall
       form(class='form-signin', action='/login', method='POST')
           input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
           input(type='password', name='password' class='form-control', placeholder='Password', required)

           if message 
               div#message
                   p.text-center.error-message #{message}

           button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
           span.clearfix
        a(href='/signup', class='text-center new-account') Create an account

    script(src="scripts/messenger.js")
