
body {
  padding: 30px 15px;
}

a {
  color: #00B7FF;
}

textarea {
    height: 8em;
}

h1 {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

footer {
    padding-top: 10px;
    text-align: center;
}

td {
    word-wrap: break-word;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-align: left;
}

.col-centered {
    display: block;
    margin: 0 auto;
    float: none;
}

.form-group {
    text-align: left;
}

.form-check {
    text-align: left;
}

.form-register,
.form-signin {
    margin: 0 auto;
    padding: 20px;
}
.form-code-entry {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-register .form-control,
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-register .form-control:focus,
.form-signin .form-control:focus {
    z-index: 2;
}

/* Sign in form */
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Register form */
.form-register input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-register input[name="password"] {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-register input[name="confirm-pass"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 1rem;
}

/* Code entry form */
.form-code-entry input[type="number"] {
    margin-bottom: 10px;
}
input::-webkit-inner-spin-button {
    display: none;
}


.signup-wall,
.account-wall {
    margin-top: 20px;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
    border: 1px solid #dedede;
    padding: 0 0 20px;
}
.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
p.error-message {
    color: #dd4b39;
}

/* Account Page (home) */
.table-wrap {
    padding: 0 10px;
}
.user-details {
    padding: 10px 0 0;
    text-align: left;
}
.user-details .group {
    padding: 0 0 10px;
}
.user-details .label {
    font-weight: 100;
}
.user-details .value {
    font-weight: 600;
}
.account-footer {
    position: relative;
    padding-top: 0;
}
.account-home .account-footer {
    text-align: center;
    padding: 0 10px;
}
.account-footer a {
    display: inline-block;
}

/* Delete Account Page */
form.form-help-message,
form.form-change-pass,
form.form-delete-account {
    text-align: left;
    padding: 20px 20px 0;
}
input[name="confirm-check"] {
}
input[name="confirm-check"] + span {
    display: inline-block;
    width: calc(100% - 20px);
    vertical-align: top;
}
button.confirm-delete {
    margin-top: 20px;
}

.icon-attrs {
    box-sizing: border-box;
    padding: 12px;
    text-align: left;
}

/* Marker Admin */
.marker-admin #img {
    width: 100%;
}
.marker-admin #tags {
    font-weight: bold;
}
.marker-admin #map {
    height: 400px;
}
.marker-admin form {
    margin-top: 20px;
}
label[for="deny_reason"] {
    display: block;
}
#deny_reason {
    display: block;
    width: 100%;
}

@media (min-width: 1000px) {
    .col-centered {
        max-width: 500px;
    }
}
